*{
  margin:0;
  padding: 0;
 
}  
body{
 margin:0;
  width: 100%;
  height:auto;

}
.s-space{
  width: 100%;
  height: 30px;
 
}
.l-space{
  width: 100%;
  height: 70px;
 
}  
/*************************************************/

.logo{
  width: 20%;
  height:70px;
  float: left;
}
.logo img{
  margin-left: 25%;
}

/**************************************************/
.parent_nav1{
  width:100%;
  height:30px;
  background-color: rgb(30, 43, 43);
}
.parent_nav1 .nav1{
  float: right;
  list-style: none;
  width: 30%;
  height:30px;
}
.parent_nav1 .nav1 ul li{
  display: inline-block;
  margin: 0px 20px 5px 0px ;
  font-size: 18px;
  
  
}
.parent_nav1 .nav1 ul li a{
  text-decoration: none;
  color: teal;
  
}
.parent_nav1 .nav1 ul li a:hover{
  color:wheat
}
/****************************************/
.parent_nav2{
  width:100%;
  height:70px;
  background-color: whitesmoke;
  position: sticky;
  top: 0;
  
  z-index: +1;
  
}
.parent_nav2 .nav2{
  float: left;
  list-style: none;
  width: 100%;
  height:70px;
  
} 
/***************************************/

.chick{
width:15%;
height:70px;
float: left;

}

.chick button{
  width: 70%;
  height:50px;
  cursor: pointer;
  float: left;
  border-radius: 5px;
  font-size: 15px;
  margin-left: 5%;
  text-transform: uppercase;
  background-color:rgb(30, 43, 43) ;
  color: white;
 margin-top: 5%;
 
  
 
}
button:active {
  transform: scale(0.95);
}

button:focus {
  outline: none;
}
button:hover {
  opacity: 0.5;
}
/****************************************/

.main{

  float: left;
  width: 35%;
  height: 70px;
    }
    .main-nav{
      width: 100%;
      height: 70px;
      float: left;
     
    }
   

.home-nav{
  font-size: 20px;
  width:33.3%;
  text-align: center;
  height: 70px;
  cursor: pointer;
  float:left;

}
.about-nav{
  font-size: 20px;
  width:33.3%;
  text-align: center;
  height: 70px;
  cursor: pointer;
  float:left;
  
  
}
.product-nav{
  font-size: 20px;
  width:33.3%;
  text-align: center;
  height: 70px;
  cursor: pointer;
  float:left;
 
}
.home-nav p ,
 .product-nav p,
 .about-nav  p{
    margin-top:10%;
}  
.main p a{
  list-style: none;
  text-decoration: none;
  font-weight: bold;
  color: rgb(3, 3, 3);
  margin-top: 35px;
 
 }
.main p a:hover{
    background-color: rgb(30, 43, 43);
    color: teal;
    padding: 20px 16px  30px  16px  ;
  } 

/*************************************/
.serach{
float: left;
width: 20%;
height: 70px;

}
.serach-box{
  position: absolute;
  top: 17%;
  float: left;
  margin-left: 0%;
  height: 20px;
  border-radius: 40px;
  background-color: #2f3640;
  padding: 10px;
 
} 
.search-btn{
  color: teal;
  float: right;
  width: 40px;
  height: 20px;
  border-radius: 50%;
  background: #2f3640;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}
.search-txt{
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: left;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  line-height: 20px;
  width: 0px;
}
.serach-box:hover > .search-txt{
  width: 220px;
  padding: 0 6px;
}
.serach-box:hover > .search-btn{
  background: white;
  width: 40px;
  height: 22px;
}
/***********************************/
.droplogin{
  
width: 10%;

height: 70px; 
position: relative;
display: inline-block;

}
.droplogin b{
  float: left;
  margin-left: 15%;
  margin-top: 15%;
  cursor: pointer;
  color: black;
  font-weight: bold;
  font-size: 20px;
}
b:hover{
  color: teal;
 
}

/************************************************/
.section{
  width: 100%;
  height: 600px;
  
}
h2{
  float: left;
  margin-left:40%;
  margin-bottom: 3%;
} 
/****************************************/
.container{
  width:60%;
  height:300px;
  float: left;
  margin-left: 20%;
  background-color: whitesmoke;
  box-shadow: 5px 5px  5px  5px  rgb(106, 110, 110);
}
.info{
  width: 100%;
  height: 200px;
  
}
/****************************************/

.icon {
  padding: 10px;
  background: rgb(30, 43, 43);
  color:teal;
  min-width: 50px;
  text-align: center;
}
.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 90%;
  margin-bottom: 15px;
  margin-left: 5%;
}

.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}

.input-field:focus {
  border: 2px solid teal;
}
.row1{
  width:80%;
  float: left;

}
/****************************************/
.c-d{
  width: 100%;
  height:70px;
  
}
.check{
  width: 50%;
  height:50px;
  float: left;
 
}
.check input{
  margin-top: 5%;
  margin-left: 5%;
}
.cards{
  width: 50%;
  height:50px;
  float: left;
  margin-top: 3%;
}
.cards label{
  font-weight: bold;
  margin-right: 10%;
  float: right;
 
}
.cards i{
  
  margin-top: 2%;
}
.icon-container{
  margin-right: 5%;
  float: right;
}
/****************************************/
h1{
  text-align: center;
}
/****************************************/
.cash{
  margin-left: 2.5%;
}
/****************************************/
.btn {
  background: rgb(30, 43, 43);
  color:teal;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width: 15%;
 float:left;
 margin-left: 3%;
 font-size: 17px;
 border-radius: 20px;
}

.btn:active {
  transform: scale(0.95);
}

.btn:focus {
  outline: none;
}
.footer {
    width:100%;
    height:45px;
    background-color:rgb(30, 43, 43);

}
.footer p{
    font-weight: bold;
    right: 350px;
    text-align: center;
    padding-top: 15px;
    font-size: 18px;
    color:teal;
}